MongoDb__ConnectionString=mongodb+srv://USER:PASSWORD@CLUSTER/?retryWrites=true&w=majority
MongoDb__DatabaseName=OrdersDb
MongoDb__OrdersCollection=orders
Services__BasketApi=https://basket-api-re4v.onrender.com
Ordering__TaxRate=0.16
